/* ===============
      GLOBAL VARS
================= */

//Colors
$white: rgba(255, 255, 255, 1);
$mainTxtColor: #3B3B3B;
$addBttnMain: rgba(120, 201, 141, 1);
$addBttnSecondary: rgba(208, 249, 199, 1);
$delBttnMain: rgba(232, 120, 105, 1);
$delBttnSecondary: rgba(255, 197, 189, 1);
$txtAreaShadow: rgba(204, 204, 204, 1);
$txtAreaMainColor: rgba(51, 51, 51, 0.27);
$shadow: rgba(51, 51, 51, 0.1);
$textAreaLabelBG: rgba(208, 231, 237, 1);
$textAreaLabel:rgba(106, 161, 174, 1);
